<!-- Cabeçalho -->
<p>E-mail: {{objLocalStorage?.email}}</p>
<button (click)="sair()" class="btn btn-primary">Sair</button>

<!-- Formulário para cadastro -->
<main class="container">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="formularioConta">
                <h1>Cadastrar conta</h1>
                <input type="text" name="nome" formControlName="nome" placeholder="Nome" class="form-control">
                <input type="number" name="valor" formControlName="valor" placeholder="Valor" class="form-control">
                <input type="button" value="Cadastrar conta" class="btn btn-primary" (click)="cadastrar()">
            </form>
        </div>
    </div>
</main>

<!-- Tabela -->
<table class="table">
    <thead>
        <tr>
            <th>Conta</th>
            <th>Valor</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let v of vetor">
            <td>{{v.nome}}</td>
            <td>{{v.valor}}</td>
        </tr>
    </tbody>
</table>